public net.minecraft.client.Minecraft field_71428_T # timer

# GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer field_146999_f #xSize
public net.minecraft.client.gui.inventory.GuiContainer field_147000_g #ySize
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guiTop
public net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; #getSlotAtPosition

# GuiScreen
public net.minecraft.client.gui.GuiScreen field_146296_j # itemRender

# Gui
public net.minecraft.client.gui.Gui field_73735_i # zLevel

# Container
public net.minecraft.inventory.Container field_75149_d # crafters

# TileEntity
public net.minecraft.tileentity.TileEntity field_145855_i # nameToClassMap
public net.minecraft.tileentity.TileEntity field_145853_j # classToNameMap

# Recipe
public net.minecraftforge.oredict.ShapedOreRecipe width
public net.minecraftforge.oredict.ShapedOreRecipe height

# Furnace
public net.minecraft.item.crafting.FurnaceRecipes field_77605_c # experienceList

# NBT
public net.minecraft.nbt.NBTTagCompound field_74784_a # tagMap
public net.minecraft.nbt.NBTTagList field_74747_a # tagList

# Block
public net.minecraft.block.Block field_149772_a #displayOnCreativeTab
public net.minecraft.block.Block field_149782_v #blockHardness
public net.minecraft.block.Block field_149781_w #blockResistance
public net.minecraft.block.Block field_149768_d #textureName
public net.minecraft.block.Block field_149770_b #unlocalizedName
public-f net.minecraft.block.Block field_149764_J #blockMaterial
public net.minecraft.block.Block func_149641_N()Ljava/lang/String;

# BlockLeaves
protected net.minecraft.block.BlockLeaves func_150126_e(Lnet/minecraft/world/World;III)V #removeLeaves

# BlockDoor
protected net.minecraft.block.BlockDoor field_150017_a #upper door icons
protected net.minecraft.block.BlockDoor field_150016_b #lower door icons

# BlockStairs
protected net.minecraft.block.BlockStairs field_150149_b

# Item
public net.minecraft.item.Item field_111218_cA # iconString

# InventoryCrafting
public net.minecraft.inventory.InventoryCrafting field_70464_b # inventoryWidth

# FluidRegistry
public net.minecraftforge.fluids.FluidRegistry masterFluidReference # masterFluidReference
